<!DOCTYPE html>
<html>
<head>
	<title>Dictionary Values</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
	<title>Job Listings</title>
</head>
<body>

	 <table>
    
        {% for item in data %}
            {% for i,j in item %}
                {% if i == 'JD' %}
                    <p><strong>Job Description:</strong></p>
                        <p>
                            <button class="show-desc">Show</button>
                        </p>
                        <div class="job-desc">
                            <p>{{ j }}</p>
                        </div>
                {% elif i != 'location_filter' %}
                    {{i}}  ----> {{j}}<br><br>

                {% endif %}
            {% endfor %}
            <form method="POST" action="{% url 'save_company' %}">
                {% csrf_token %}
                <input type="hidden" name="company_name" value="{{ item }} ">
                
                <button type="submit">Save</button>
            </form>
            <br><br><br><br>

        {% endfor %}

	</table> 
</body>
</html>


</body>
</html>
